/*Load Lato Fonts*/
@font-face {
    font-family: "Lato-Light";
    src:url("./Fonts/Lato-Light.ttf");
    }

@font-face {
    font-family: "Lato";
    src:url("./Fonts/Lato-Regular.ttf");
    }

@font-face {
    font-family: "Lato-Black";
    src:url("./Fonts/Lato-Black.ttf");
    }

@font-face {
    font-family: "Lato-Hair";
    src:url("./Fonts/Lato-Hairline.ttf");
    }



/*General Settings*/
* {
    font-family: "Lato";
    font-size: 1.5vw;
    color: rgb(34, 34, 34);
}

/*Grid and alignment*/
.grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 3% 3%;
}

.right {
    text-align: right;
}

/*Bold Headers*/
.h1 {
    font-family: "Lato-Black";
    font-size: 4vw;
    text-transform: uppercase;
}

/*Plus Signs*/
.plus {
    font-family: "Lato-Black";
    font-size: 2vw;
}

.small-plus {
    font-family: "Lato-Black";
    font-size: 1.5vw;
}

.plus:hover {
    color: tomato;
}

.small-plus:hover {
    color: tomato;
}

/*Hyperlinks*/
a {
    color: rgb(219, 49, 19);
}

a:hover {
    color: tomato;
}

.limit400 {
    color: blue;
}

.limit1200 {
    color: yellow;
}

/*Bold*/
b {
    font-family:"Lato-Black";
    font-weight: normal;
}