/*Load Lato Fonts*/
@font-face {
    font-family: "Lato-Light";
    src:url("./Fonts/Lato-Light.ttf");
    }

@font-face {
    font-family: "Lato";
    src:url("./Fonts/Lato-Regular.ttf");
    }

@font-face {
    font-family: "Lato-Black";
    src:url("./Fonts/Lato-Black.ttf");
    }

@font-face {
    font-family: "Lato-Hair";
    src:url("./Fonts/Lato-Hairline.ttf");
    }

/*Media Queries*/
/*Max Width 399px*/
@media (min-width: 200px) {
    * {
        font-size:5vw;
    }
    .h1 {
        font-size:9vw;
    }
    .grid {
        display: initial;
        margin: 0px 10px;
    }
    .expand {
        display: none;
    }
}

/*Min Width 400px*/
@media (min-width: 450px) {
    .grid {
        display: initial;
        margin: 0px 10px;
    }
    /*General*/
    * {
        font-size: 3.5vw;
    }
    .h1 {
        font-size: 8vw;
    }
    /*Plus signs*/
    .plus {
        font-size: 5vw;
    }
    /*No Border*/
    .right {
        padding-right: 0%;
        border-right: 0px;
    }
}

/*Min Width 580px*/
@media (min-width: 580px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
    }
    /*General*/
    * {
        font-size: 2.5vw;
    }
    .h1 {
        font-size: 4vw;
    }
    /*Plus signs*/
    .plus {
        font-size: 2.5vw;
    }
    /*Align right margin*/
    .right {
        padding-right: 10%;
        border-right: 2px rgb(34, 34, 34) solid;
    }
    .expand {
        display: initial;
        font-size: 2.5vw;
    }
}

/*Min Width 750px*/
@media (min-width: 750px) {
    
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
        display: grid;
    }
    /*General*/
    * {
        font-size: 1.8vw;
    }
    .h1 {
        font-size: 4vw;
    }
    /*Plus signs*/
    .plus {
        font-size: 2vw;
    }
    /*Align right margin*/
    .right {
        padding-right: 10%;
        border-right: 2px rgb(34, 34, 34) solid;
    }
}

/*Over 900px*/
@media (min-width: 900px) {
    .expand {
        font-size: 2vw;
    }
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
        margin: 0px 3%;
        display: grid;
    }
}

/*Over 1150px*/
@media (min-width: 1150px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
        margin: 0px 10%;
        display: grid;
    }
    .h1 {
        font-size: 3.3vw;
    }
    * {
        font-size: 1.2vw;
    }
}

/*Over 1400px*/
@media (min-width: 1400px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
        margin: 0px 15%;
        display: grid;
    }
    .h1 {
        font-size: 2.8vw;
    }
    * {
        font-size: 1vw;
    }
    .expand {
        font-size: 1vw;
    }
}

/*Over 1900px*/
@media (min-width: 2000px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0% 3%;
        margin: 0px 25%;
        display: grid;
    }
    .h1 {
        font-size: 2.3vw;
    }
    * {
        font-size: 0.8vw;
    }
    .expand {
        font-size: 1vw;
    }
}

/*General Settings*/
* {
    font-family: "Lato";
    color: rgb(34, 34, 34);
}

/*Grid and alignment*/
.right {
    text-align: right;
}

.right2 {
    text-align: right;
}

.justify {
    text-align: justify;
}

/*Bold Headers*/
.h1 {
    font-family: "Lato-Black";
    text-transform: uppercase;
}

/*Plus Signs*/
.plus {
    font-family: "Lato-Black";
}

.expand {
    font-size: 1.5vw;
}

.plus:hover, .skills:hover, .education:hover, .experience:hover {
    color: tomato;
    cursor: pointer;
}

.skills, .education, .experience {
    font-family: "Lato-Black";
}

.expand:hover {
    color: tomato;
}

/*Hyperlinks and highlights*/
a {
    color: rgb(219, 49, 19);
    text-decoration: none;
}

a:hover {
    color: tomato;
}

.a {
    color: rgb(219, 49, 19);
}

.a:hover {
    color: tomato;
    cursor: pointer;
}

.note {
    color:rgb(219, 49, 19);;
    font-size: 1vw;
}

/*Bold*/
b {
    font-family:"Lato-Black";
    font-weight: normal;
}

/*Images*/
.logos {
    width: 100%;
}

/*Education Mini-Grids*/

/*ESSEC*/
.essecSubGrid {
    display: grid;
    grid-template-areas: "e f" "g f" "h f";
    grid-template-columns: 8fr 1fr;
}

.e {
    grid-area: e;
}
.f {
    grid-area: f;
}
.g {
    grid-area: g;
}
.h {
    grid-area: h;
}

/*Concordia*/
.conSubGrid {
    display: grid;
    grid-template-areas: "a b" "c b" "d b";
    grid-template-columns: 6fr 1fr;
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}